<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <img src="../../assets/images/empty_profile.png" class="profile-container" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                {{ userName | async }}
            </button>
            <button mat-menu-item [routerLink]='["/authentication/logout"]' [state]='{ local: true }'>Logout</button>
        </mat-menu>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
    </li>
</ul>