<div fxLayout="column" fxFlexFill class="w-100">
  <h1 mat-dialog-title *ngIf="data._salesRecordId">Edit Sales Details {{ data._salesRecordId }}</h1>
  <h1 mat-dialog-title *ngIf="!data._salesRecordId">Add Sales Details</h1>
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>Sales Date</mat-label>
    <input matInput [(ngModel)]="salesDate" [matDatepicker]="picker" readonly="true">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>Remarks</mat-label>
    <input matInput type="text" [(ngModel)]="data._remarks">
  </mat-form-field>
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>Employee</mat-label>
    <input matInput type="text" [(ngModel)]="data._employeeId">
  </mat-form-field>
  <div fxLayout="column">
    <div fxLayoutAlign="end end">
      <button mat-flat-button (click)="addSalesItem()">Add Item</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <ng-container matColumnDef="ItemID">
        <th mat-header-cell *matHeaderCellDef> Item ID </th>
        <td mat-cell *matCellDef="let item"> {{ item.itemId }} </td>
      </ng-container>
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Item Name </th>
        <td mat-cell *matCellDef="let item"> {{ item.item.itemName }} </td>
      </ng-container>
      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let item"> {{ item.quantity }} </td>
      </ng-container>
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let item"> {{ ItemType[item.item.itemCategory] }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="10px">
      <div class="mr-auto">
        <button mat-flat-button (click)="closeDialog()">Cancel</button>
      </div>
      <button mat-flat-button color="warn" (click)="saveSales()">Save</button>
    </mat-dialog-actions>
  </div>
</div>