a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.pharmacy-logo {
  width: 3rem;
  height: auto;
  margin: 5px;
}

@media (min-width: 768px) {
  .link-active {
    border-bottom: 3px green solid;
    margin-bottom: -1.3rem;
  }
}

@media (max-width: 768px) {
  .link-active {
    background-color: rgb(46, 204, 113, .1);
    border-left: 3px green solid;
    margin-bottom: -0.3rem;
  }
}

.home-def-button {
  cursor: pointer;
}