body {
    overflow: scroll;
}

.add-sales-button {
    background: #2ecc71;
    color: #fff;
}

.add-sales-button:hover {
    cursor: pointer;
    background-color: #29a329;
}

.sales-record:hover {
    cursor: pointer;
    background-color: #ecf0f1;
}

.search-button {
    height: 20%;
    margin-top: 1rem;
    background: #2ecc71;
    color: #fff;
}

.search-button:hover {
    cursor: pointer;
    background-color: #29a329;
}

.full-width {
    width: 100%;
}

.custom-container {
    border-left: solid #2ecc71 5px;
    border-top: solid #bdc3c7 1px;
    border-right: solid #bdc3c7 1px;
    border-bottom: solid #bdc3c7 1px;
    border-radius: 10px;
}

.total-sales-container {
    border-left: solid #e74c3c 5px;
    border-top: solid #bdc3c7 1px;
    border-right: solid #bdc3c7 1px;
    border-bottom: solid #bdc3c7 1px;
    border-radius: 10px;
}

.highest-sales-item-container {
    border-left: solid #f1c40f 5px;
    border-top: solid #bdc3c7 1px;
    border-right: solid #bdc3c7 1px;
    border-bottom: solid #bdc3c7 1px;
    border-radius: 10px;
}

.highest-sales-itemtype-container {
    border-left: solid #3498db 5px;
    border-top: solid #bdc3c7 1px;
    border-right: solid #bdc3c7 1px;
    border-bottom: solid #bdc3c7 1px;
    border-radius: 10px;
}