<div class="demo-button-container w-100">
  <h1>Personal Healthcare Pharmacy Sales</h1>
  <p>Date: {{ date }}</p>
  <div fxLayoutAlign="center center" fxLayout="column" *ngIf="isLoading">
    <mat-spinner [diameter]="30"></mat-spinner>
    <span>Loading Data</span>
  </div>
  <div *ngIf="!isLoading">
    <div fxLayout="row wrap" class="w-100" fxLayoutGap="10px">
      <div class="container total-sales-container" fxFlex>
        <div class="text-center p-3" fxLayout="column" fxFlex="50">
          <h2 fxFlex="100">Total Sales This Month</h2>
          <span>{{ totalSalesCurrentMonth ? totalSalesCurrentMonth : 0 }}</span>
        </div>
          <mat-icon fxFlex="50" class="default-cursor" style="font-size: 120px; color: rgb(192, 57, 43);">shopping_basket</mat-icon>
      </div>
      <div class="container highest-sales-item-container" fxFlex>
        <div class="text-center p-3" fxLayout="column">
          <h2>Most Sold Item This Month</h2>
          <span>{{ highestSellingItem ? highestSellingItem : 0 }}</span>
        </div>
        <mat-icon fxFlex="50" class="default-cursor" style="font-size: 120px; color: rgb(39, 174, 96)">store</mat-icon>
      </div>
      <div class="container highest-sales-itemtype-container" fxFlex>
        <div class="text-center p-3" fxLayout="column">
          <h2>Most Sold Item Category This Month</h2>
          <span>{{ highestSellingItemCategory ? highestSellingItemCategory : 0 }}</span>
        </div>
        <mat-icon fxFlex="50" class="default-cursor" style="font-size: 120px; color: rgb(41, 128, 185)">pie_chart</mat-icon>
      </div>
    </div>
    <h1 class="pt-3">Sales Forecast</h1>
    <div fxLayout="row wrap" fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Product</mat-label>
        <mat-select (selectionChange)="predictProductSales()" [(ngModel)]="productIdFilter">
          <mat-option *ngFor="let item of itemList" [value]="item.itemId">
            {{ item.itemName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Item Categories</mat-label>
        <mat-select (selectionChange)="predictItemTypeSales()" [(ngModel)]="productCategoryFilter">
          <mat-option *ngFor="let category of itemCategoryLists | enumpipe" [value]="category.value">
            {{ category.value | splitString }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="10px">
      <div class="custom-container" fxLayoutAlign="center center" fxLayout="column"
        *ngIf="predictedProductSales != null" fxFlex>
        <span class="m-2">Predicted Sales for : {{ productNameFilter }}</span>
        <span class="m-1">{{ predictedProductSales }}</span>
      </div>
      <div class="custom-container" fxLayoutAlign="center center" fxLayout="column"
        *ngIf="predictedItemCategorySales != null" fxFlex>
        <span class="m-2">Predicted Sales for Item Type : {{ productCategoryFilter | splitString }}</span>
        <span class="m-1">{{ predictedItemCategorySales }}</span>
      </div>
    </div>
  </div>
  <mat-card class="mat-elevation-z3">
  <div *ngIf="dataSource.data.length != 0" style="margin-top: 1rem;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" style="width: 100%;" matSort>
      <ng-container matColumnDef="itemId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item ID </th>
        <td mat-cell *matCellDef="let item"> {{ item.itemId }} </td>
      </ng-container>
      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
        <td mat-cell *matCellDef="let item"> {{ item.itemName }} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let item"> {{ ItemStatus[item.status] }} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let item"> {{ item.quantity }} </td>
      </ng-container>
      <ng-container matColumnDef="itemCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let item"> {{ ItemType[item.itemCategory] }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="item-record"></tr> 
    </table>

  <mat-paginator class="mat-paginator--stick-bottom" showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChanged($event)" [length]="totalRecord" [pageSize]="pageSize">
  </mat-paginator>
  </div>
</mat-card>
</div>
