<div class="demo-button-container w-100">
  <h1>Personal Healthcare Pharmacy Sales</h1>
  <p>Date: {{ date }}</p>
  <div fxLayoutAlign="center center" fxLayout="column" *ngIf="isLoading">
    <mat-spinner [diameter]="30"></mat-spinner>
    <span>Loading Data</span>
  </div>
  <div *ngIf="!isLoading">
    <div fxLayout="row wrap" fxLayoutGap="10px">
      <div class="container total-sales-container" fxFlex>
        <div class="text-center p-3" fxLayout="column">
          <h2>Total Sales This Month</h2>
          <span>{{ totalSalesCurrentMonth }}</span>
        </div>
      </div>
      <div class="container highest-sales-item-container" fxFlex>
        <div class="text-center p-3" fxLayout="column">
          <h2>Most Sold Item This Month</h2>
          <span>{{ highestSellingItem }}</span>
        </div>
      </div>
      <div class="container highest-sales-itemtype-container" fxFlex>
        <div class="text-center p-3" fxLayout="column">
          <h2>Most Sold Item Category This Month</h2>
          <span>{{ highestSellingItemCategory }}</span>
        </div>
      </div>
    </div>
    <h1>Sales Forecast</h1>
    <div fxLayout="row wrap" fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Product</mat-label>
        <mat-select (selectionChange)="predictProductSales()" [(ngModel)]="productIdFilter">
          <mat-option *ngFor="let item of itemList" [value]="item.itemId">
            {{ item.itemName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Item Categories</mat-label>
        <mat-select (selectionChange)="predictItemTypeSales()" [(ngModel)]="productCategoryFilter">
          <mat-option *ngFor="let category of itemCategoryLists | enumpipe" [value]="category.value">
            {{ category.value | splitString }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="10px">
      <div class="custom-container" fxLayoutAlign="center center" fxLayout="column"
        *ngIf="predictedProductSales != null" fxFlex>
        <span class="m-2">Predicted Sales for : {{ productNameFilter }}</span>
        <span class="m-1">{{ predictedProductSales }}</span>
      </div>
      <div class="custom-container" fxLayoutAlign="center center" fxLayout="column"
        *ngIf="predictedItemCategorySales != null" fxFlex>
        <span class="m-2">Predicted Sales for Item Type : {{ productCategoryFilter }}</span>
        <span class="m-1">{{ predictedItemCategorySales }}</span>
      </div>
    </div>
  </div>
</div>