<div class="demo-button-container w-100">
  <h1>Personal Healthcare Pharmacy Sales</h1>
  <p>Date: {{ date }}</p>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <div *ngIf="!isLoading">
    <div fxLayoutAlign="end end" fxLayoutGap="12px">
      <button mat-raised-button (click)="openEditDialogNew()" class="add-sales-button my-2">
        <mat-icon>add</mat-icon>
        Add Data
      </button>
      <button mat-raised-button (click)="generateCSV()" class="add-sales-button my-2">
        <mat-icon>description</mat-icon>
        Generate CSV Report
      </button>
    </div>

    <div class=" w-100" fxLayout="row" fxLayoutGap="22px" style="padding-top: auto; padding-bottom: auto;">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label >Search</mat-label>
        <input matInput placeholder="Filter" >
      </mat-form-field>
      
      <button mat-raised-button  class="abc" >
        <mat-icon>search</mat-icon>
        Search
      </button>
      
      
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
      <ng-container matColumnDef="Sales_ID">
        <th mat-header-cell *matHeaderCellDef>Sales ID</th>
        <td mat-cell *matCellDef="let element">{{ element._salesRecordId }}</td>
      </ng-container>
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef>Sales Date</th>
        <td mat-cell *matCellDef="let element">{{ element._salesDate | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
      </ng-container>
      <ng-container matColumnDef="Employee_ID">
        <th mat-header-cell *matHeaderCellDef>Last Modified By</th>
        <td mat-cell *matCellDef="let element">{{ element._editedBy }}</td>
      </ng-container>
      <ng-container matColumnDef="Remarks">
        <th mat-header-cell *matHeaderCellDef>Remarks</th>
        <td mat-cell *matCellDef="let element">{{ element._remarks == null || getRemarksLength(element._remarks.length) ? 'No Remarks' : element._remarks }}</td>
      </ng-container>
      <ng-container matColumnDef="isDeleted">
        <th mat-header-cell *matHeaderCellDef>Deleted</th>
        <td mat-cell *matCellDef="let element">{{ element._isDeleted }}</td>
      </ng-container>
      <ng-container matColumnDef="CreatedBy">
        <th mat-header-cell *matHeaderCellDef>Created On</th>
        <td mat-cell *matCellDef="let element">{{ element._createdOn | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
      </ng-container>
      <ng-container matColumnDef="LastModifiedBy">
        <th mat-header-cell *matHeaderCellDef>Last Modified On</th>
        <td mat-cell *matCellDef="let element">{{ element._editedOn | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openEditDialog(row)" class="sales-record">
      </tr>
    </table>
  </div>
</div>