.add-sales-button {
    background: #2ecc71;
    color: #fff;
}

.add-sales-button:hover {
    cursor: pointer;
    background-color: #29a329;
}

.sales-record:hover {
    cursor: pointer;
    background-color: #ecf0f1;
}

.abc {
    height: 20%;
    margin-top:1rem;
    background: #2ecc71;
    color: #fff;
}

.abc:hover {
    cursor: pointer;
    background-color: #29a329;
}

  
  .full-width {
    width: 100%;

  }